# Core
pyspark==3.4.1
pandas==1.3.5
numpy==1.21.6
scikit-learn==1.0.2
scipy==1.7.3
joblib==1.3.2
matplotlib

# Experiment tracking
mlflow

# Data versioning
dvc

# API serving
fastapi
uvicorn

# Utils
tqdm
